<div class="importante">
    <div class="principal principal-importante">

        <div class="conteudo">

            <img class="img1" src="../assets/img/Desenho_Final_Pagina.png">
            <img class="img2" src="../assets/img/Desenho-Verde-Direito.png">

            <div class="superior">

                <div class="titulo">
                    POR QUE ISSO É IMPORTATE?
                </div>
            
            </div>

            <div class="texto">
                <p>Dados da Unicef revelam que existem mais de <code>93 MILHÕES<br>
                   DE CRIANÇAS</code> com deficiência em todo o mundo.<br>
                   Quase metade delas está fora da escola.<br>
                   <span>(OMS 2011)</span>
                </p>

                <p>A outra metade está na luta pelo direito de frequentar<br> 
                    uma escola que <code>NÃO AS DISCRIMINA E AS SEPARA<br>
                    DAS DEMAIS CRIANÇAS.</code><br>
                    <span>(OMS 2011)</span>
                 </p>
            </div>
        </div>
        
    </div>
</div>