<div class="onde-assistir">
    <div class="principal principal-onde-assistir">
        <div class="conteudo">
            <img class="menina" src="../assets/img/Menina-Cima-Esquerdo.png">
            <img class="quadro-azul" src="../assets/img/Quadro-Azul-Centro-Esquerdo.png">
            <img class="desenho-amarelo" src="../assets/img/Desenho-Baixo-Direito.png">
            <div class="superior">
                <img src="../assets/img/Player-Video-Titulo.png">
                <div class="titulo">
                    ONDE ASSISTIR:
                </div>
            </div>

            <div class="logos">
                <div class="content-logos linha1">
                    <div>
                        <img class="globoplay" src="../assets/img/Patrocinio-1.2.png">    
                    </div>
                    <div>
                        <img class="gnt" src="../assets/img/Patrocinio-2.2.png">    
                    </div>
                    <div>
                        <img class="cultura" src="../assets/img/Patrocinio-3.2.png">    
                    </div>
                    <div>
                        <img class="now" src="../assets/img/Patrocinio-4.2.png">    
                    </div>
                </div>

                <div class="content-logos linha2">
                    <div>
                        <img class="google-play" src="../assets/img/Patrocinio-5.2.png">    
                    </div>
                    <div>
                        <img class="youtube" src="../assets/img/Patrocinio-6.2.png">    
                    </div>
                    <div>
                        <img class="vivo-play" src="../assets/img/Patrocinio-7.png">    
                    </div>
                    <div>
                        <img class="itunes" src="../assets/img/Patrocinio-8.png">    
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="content-topo">
                    <img class="img" src="../assets/img/Patrocinio-9.png">
                    <p>
                        Agende uma exibição pública e acesse o material de apoio do filme. <strong>Confira o tutorial abaixo:</strong> 
                    </p>
                </div>
                <div class="content-centro">
                    <img class="img" src="../assets/img/Patrocinio-10.png">
                </div>
                <div class="content-bottom">
                    <button>AGENDE UMA SESSÃO</button>
                </div>
            </div>
        </div>
    </div>
</div>  