<div class="contato">
    <div class="principal principal-contato">
        <div class="conteudo">
            <div class="superior">
                <div class="titulo">
                    CONTATO
                </div>

                <div class="content">
                    <div class="content-texto1">
                        <h2>Imprensa</h2>
                        <p>Caso tenha interesse em obter mais
                           informação sobre o filme e divulgá-lo na
                           imprensa, entre em contato com a nossa
                           assessoria pelo email:
                           <code>roberta.p@ftestrategias.com.br</code>
                        </p>
                    </div>
                    <div class="content-texto2">
                        <h2>Nossas Redes</h2>
                        <p>Acompanhe os nossos conteúdos</p>
                        <img class="facebook" src="../assets/icon/facebook.png">
                        <img class="instagram" src="../assets/icon/instagram.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>