<div class="faca-parte">
    <div class="principal">
        <div class="conteudo">

            <img class="Amarelo-Superior-Esquerdo" src="../assets/img/Amarelo-Cima.png">
            <img class="Amarelo-Central-Esquerdo" src="../assets/img/Amarelo-Lateral.png">
            <img class="Azul-Central-Esquerdo1" src="../assets/img/Azul-Lateral.png">
            <img class="Azul-Central-Esquerdo2" src="../assets/img/Azul-Lateral-2.png">
            <img class="Azul-Central-Direito" src="../assets/img/Azul-Lateral-Direito.png">
            <img class="Amarelo-Direito" src="../assets/img/Amarelo-Lateral-Direito.png">
            <img class="Img-Desenho-Rodape" src="../assets/img/Img-Baixo.png">

            <div class="superior">
                <img class="mao" src="../assets/img/img-superior.png">
                <div class="titulo">
                    FAÇA-PARTE
                </div>
            </div>

            <div class="sub-texto1">
                <p>Uma sociedade inclusiva começa pela garantia de uma escola para todas as crianças.<br>
                    É um direito de todas elas.
                </p>
            </div>

        <div class="quadro-verde">
                <h1>JUNTE-SE AO NOSSO MOVIMENTO!</h1>
                <p>Explore e compartilhe as diferentes formas de fazer parte dessa história.</p>

                <div class="content-botoes">
                    <div class="guarda-botoes">
                        <button class="botao">
                            GLOSSÁRIO INCLUSIVO
                            <img class="img" src="../assets/icon/save_alt_white_24dp.svg">
                        </button>

                        <button class="botao">
                            GUIA PARA FAMÍLIAS
                            <img class="img" src="../assets/icon/save_alt_white_24dp.svg">
                        </button>
                    </div>    
                    <div class="guarda-botoes">
                        <button class="botao">
                            GUIA PARA EDUCADORES
                            <img class="img" src="../assets/icon/save_alt_white_24dp.svg">
                        </button>

                        <button class="botao">
                            GUIA PARA JORNALISTAS
                            <img class="img" src="../assets/icon/save_alt_white_24dp.svg">
                        </button>
                    </div>
                </div>
            </div>

            <div class="texto2">
                <p>Se quiser saber quem também está na luta pelo direito a educação<br>
                     e educação inclusiva, conheça a <code>Rede de Impacto</code> do filme:
                </p>
            </div>

            <div class="content-impacto">
                <div class="imp1">
                    <img class="img1" src="../assets/img/Apoio-1.png">
                    <img class="img2" src="../assets/img/Apoio-2.png">
                </div>
                <div class="imp2">
                    <img class="img3" src="../assets/img/Apoio-3.png">
                    <img class="img4" src="../assets/img/Apoio-4.png">
                    <img class="img5" src="../assets/img/Apoio-5.png">
                </div>
                <div class="imp3">
                    <img class="img6" src="../assets/img/Apoio-6.png">
                    <img class="img7" src="../assets/img/Apoio-7.png">
                    <img class="img8" src="../assets/img/Apoio-8.png">
                </div>
                <div class="imp4">
                    <img class="img9" src="../assets/img/Apoio-9.png">
                    <img class="img10" src="../assets/img/Apoio-10.png">
                    <img class="img11" src="../assets/img/Apoio-11.png">
                </div>
            </div>

            <div class="titulo2">
                <h1>"É UMA LUTA QUE VALE A PENA"</h1>
                <p>Sara Jo Soldovieri,<code>educadora e ativista pela inclusão.</code></p>
            </div>
        </div>
    </div>
</div>