<div class="sobre">
  <div class="principal">
    <div class="conteudo">
      <img class="moca" src="../assets/img/img-1.png">
      <img class="faixa-azul" src="..//assets/img/img-2.png">
      <img class="menino-amarelo" src="../assets/img/img-3.png">
      <img class="faixa-verde" src="..//assets/img/img-4.png">
      <div class="titulo">
        UM FILME SOBRE O DIREITO DE ESTAR NA ESCOLA JUNTO COM TODAS AS CRIANÇAS
      </div>     
      <div class="texto">
        <p>Quando Emilio, uma criança de 3 anos, está prestes a ingressar na escola, sua familia se depara
           com as barreiras do sistema educacional que mais discrimina nos Estados Unidos: as escolas publicas
           da cidade de Nova York. Na luta para garantir o direito de Emilio à uma educação inclusiva, eles 
           investigam histórias pessoais e inspiradoras que denunciam muitas injustiças. Dados da Unicef revelam
           que existem mais de 93 milhões de crianças com deficiência em todo o mundo -quase metade delas não 
           frequenta uma escola. Aoutra metade está na luta pelo direito de frequentar uma escola que não as
           discrimina e as separa das demais crianças. Um <strong>Lugar Para Todo Mundo</strong> revela que o caminho para uma
           sociedade inclusiva começa pela garantia de uma escola para todas as crianças, um direito delas.</p>
      </div>
      <div class="texto1">
        <p>Uma Produção da <code>Rota6 Films</code> com a <code>Maria Farinha Filmes</code><br>
           Dirigido por <code>Olivier Bernier</code><br>
           Produzido por <code>Olivier Bernier, Tiffany Conklin,<br>
           Patrick Solomon, Ana Lucia Villela, Estela Renner,<br>
           Luana Lobo e Marcos Nisti</code><br>
           Produção Executiva de <code>Mariana Oliva</code> e <code>Flavia Doria</code><br>
           Fotografia de <code>Juan Manuel Fernandez Pozzo</code><br>
           Editado por <code>Rodrigo Brazão</code><br>
           Música de <code>Garth Steverson</code>"<br>
        </p>
      </div>
      <div class="texto2">
        <p>Uma poderosa menssagem universal <br>que toca 5 ODS</p>
      </div>
      <div class="quadros">
        <img src="../assets/img/Cubo-Verde-1.png">
        <img src="../assets/img/Cubo-Vermelho-2.png">
        <img src="../assets/img/Cubo-Vinho-3.png">
        <img src="../assets/img/Cubo-Rosa-4.png">
        <img src="../assets/img/Cubo-Azul-5.png">
      </div>
      <div class="apoiadores">
        <div class="Produzido">
          <code>PRODUZIDO POR</code>
          <img class="img" src="../assets/img/Patrocinio-1.png">
          <img class="img" src="../assets/img/Patrocinio-2.png">
        </div>
          <div class="Apresentado">
            <code>APRESENTADO POR</code>
            <img class="img" src="../assets/img/Patrocinio-3.png">
            <img class="img" src="../assets/img/Patrocinio-4.png">
          </div>
          <div class="ApoioInstitucional">
            <code>APOIO INSTITUCIONAL</code>
            <img class="img" src="../assets/img/Patrocinio-5.png">
          </div>
          <div class="Distribuicao">
            <code>DISTRIBUIÇÃO</code>
            <img class="img" src="../assets/img/Patrocinio-6.png">
          </div>
        </div>
    </div>
  </div>
</div>
