.logo
    {
        color: cornsilk;
        display: flex;
        justify-content: end;
       
        img
        {
            width: 200px;
            height:60px;
            padding-right: 30px;
        }
    }